<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>College Saving App</title>

    <script src="https://unpkg.com/jquery"></script>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>

    <!-- can hide which links are shown based on if the user is logged in -->
    <!-- Use the hamburger icon for checklist dropdown -->
    <nav>
        <li><a href="/">Home</a> <link rel="stylesheet" href=""></li>
        <li><a href="/logout">Logout</a> <link rel="stylesheet" href=""></li>
        <li><a href="/search">New Search</a> <link rel="stylesheet" href=""></li>
        <li><a href="/savedQueries">Saved Queries</a> <link rel="stylesheet" href=""></li>
    </nav>


    {% block content %}


    {% endblock %}

    <script src="https://unpkg.com/axios/dist/axios.js"></script>
    <script src="/static/script.js"></script>

</body>
</html>