{% extends 'index.html' %}

{% block links %}
    <li class="nav-item">
        <a class="nav-link" href="/search">New Search</a> <link rel="stylesheet" href="">
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/userProfile">Edit Profile</a> <link rel="stylesheet" href="">
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a> <link rel="stylesheet" href="">
    </li>
{% endblock %}

{% block content %}

<form action="" method="post">
    <h4>Edit user profile:</h4> 
    {{form.hidden_tag()}}

    {% for field in form if field.widget.type != 'hidden' %}
        <div class="row mb-3">
            {{field.label(class_="col-1 col-form-label")}}
            <div class="col-8">
                {{field(class_="form-control")}}
            </div>
        </div>

        {% for error in field.errors %}
            {{error}}
        {% endfor %}
    {% endfor %}
    


    <!-- <p>
        Confirm password: <input name="password" type="password">
    </p> -->

    <div>
        <button>Update Profile</button>
    </div>
    <!-- <label for="username">Username:</label>
    <input name="username" placeholder="Enter username" type="text">
    <label for="password">Password:</label>
    <input name="password" type="password" placeholder="Enter password"> -->
</form>


{% endblock %}
