{% extends 'index.html'%}

{% block content %}



<form action="/login" method="post">
    <p>Enter Login Information Below</p>
    {{form.hidden_tag()}}

    {% for field in form 
        if field.widget.type != 'hidden' %}
            <div class="row mb-3">
                {{field.label(class_="col-1 col-form-label")}}
                <div class="col-6">
                    {{field(class_="form-control")}}
                </div>
            </div>

            {% for error in field.errors %}
                {{error}}
            {% endfor %}
        
    {% endfor %}


    <div>
        <button>Login</button>
    </div>

    <!-- <label for="username">Username:</label>
    <input name="username" type="text" placeholder="Enter username">
    <label for="password">Username:</label>
    <input name="password" type="password" placeholder="Enter password">
    <div>
        <button>Submit</button>
    </div> -->
</form>


{% endblock %}