{% extends 'base.html'%}

{% block content %}

<p>Enter Login Information Below</p>

<form action="/login" method="post">
    {{form.hidden_tag()}}

    {% for field in form if field.widget.type != 'hidden' %}
        <p>
            {{field.label}}
            {{field}}

            {% for error in field.errors %}
                {{error}}
            {% endfor %}
        </p>
    {% endfor %}
    <div>
        <button>Login</button>
    </div>

    <!-- <label for="username">Username:</label>
    <input name="username" type="text" placeholder="Enter username">
    <label for="password">Username:</label>
    <input name="password" type="password" placeholder="Enter password">
    <div>
        <button>Submit</button>
    </div> -->
</form>


{% endblock %}