{% extends 'index.html' %}

{% block links %}
    <li class="nav-item">
        <a class="nav-link" href="/search">New Search</a> <link rel="stylesheet" href="">
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/userProfile">Edit Profile</a> <link rel="stylesheet" href="">
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a> <link rel="stylesheet" href="">
    </li>
{% endblock %}

{% block content %}

{% if data|length == 0 %}
    <p>Add a new search above to compare outcomes between schools.</p>
{% else %}

    <div id="saved-queries" class="table-responsive">
        <table class="table-sm table table-striped table-bordered" id="saved-results">
            <thead>
                <tr class="table-warning">
                    <th style="width: 400px;" class="college-width">College:</th>
                    <th class="state-width">State:</th>
                    <th style="width: 400px;" class="major-width">Major:</th>
                    <th style="display: none;">Degree Type:</th>
                    <th style="display: none;">Household Income:</th>
                    <th style="display: none;">Home State:</th>
                    <th class="tuitionType-width">Tuition Type:</th>
                    <th class="cost-width">Annual Cost:</th>
                    <th class="salary-width">Year 1 Salary:</th>
                    <th class="salary-width">Year 2 Salary:</th>
                    <th class="salary-width">Year 3 Salary:</th>
                </tr>
            </thead>


            <!-- loop through results from database -->
            <tbody class="table-group-divider">
                {% for query in data %}
                    <tr class="">
                        
                        <td class="college-width"><input disabled class="college-width" id="school" type="text" value="{{query.school_name}}"></td>
                        <td class="state-width"><input disabled class="state-width" id="school_state" type="text" value="{{query.school_state}}"></td>
                        <td class="major-width"> <textarea disabled name="" id="major" cols="40" >{{query.major_name}}</textarea></td>
                        <td style="display: none;"><input disabled id="degree" type="text" value="{{query.credential_title}}"></td>
                        <!-- <td style="display: none;"><input id='HH-income' type="text" value="{{data.household_income}}"></td>
                        <td style="display: none;"><input id="home-state" type="text" value="{{data.state}}"></td> -->
                        <td class="tuitionType-width"><input disabled id="tuition-type" type="text" value="{{query.tuition_type}}"></td>
                        <td class="cost-width">$<input disabled id="tuition" type="number" value="{{query.cost}}"></td>
                        <td class="salary-width">$<input disabled id="yr_1_salary" type="text" value="{{query.yr_1_earnings}}"></td>
                        <td class="salary-width">$<input disabled id="yr_2_salary" type="text" value="{{query.yr_2_earnings}}"></td>
                        <td class="salary-width">$<input disabled id="yr_3_salary" type="text" value="{{query.yr_3_earnings}}"></td>
                        <!-- <td><label for="saved"><input checked type="checkbox" id="save_search" name="saved"></label></td>             -->
                        <!-- <td class="major-width"><input class="major-width" id="major" type="text" value="{{query.major_name}}"></td> -->

                    </tr>
                {% endfor %}
            </tbody>

        </table>
        
    </div>
{% endif %}

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul class=flashes>
    {% for category, message in messages %}
      <li class="{{ category }}">{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

{% endblock %}