{% extends 'base.html' %}

{% block links %}
    <li><a href="/logout">Logout</a> <link rel="stylesheet" href=""></li>
    <li><a href="/search">New Search</a> <link rel="stylesheet" href=""></li>
    <li><a href="/userProfile">Edit Profile</a> <link rel="stylesheet" href=""></li>
{% endblock %}

{% block content %}

<p>Ready to start a new search</p>

<form action="/search" method="post">
    {{form.hidden_tag()}}

    {% for field in form if field.widget.type != 'hidden' %}
        {% if field.label.text == "Major:" %}
            <p>
                {{field.label}}
                {{field(list=field.name + "-list")}}
    
                    <datalist id="{{field.name}}-list">
                        {% for major in majors %}
                            <option value="{{major.title}}">
                        {% endfor %}
                    </datalist>
            </p>

            <p>
                {% for error in field.errors %}
                    {{error}}
                {% endfor %}
            </p>

        {% elif field.label.text == "College:" %}

            <p>
                {{field.label}}
                {{field(list=field.name + "-list")}}
    
                    <datalist id="{{field.name}}-list">
                        {% for school in schools %}
                            <option value="{{school.name}}">
                        {% endfor %}
                    </datalist>
            </p>

            <p>
                {% for error in field.errors %}
                    {{error}}
                {% endfor %}
            </p>

        
        {% elif field.label.text == 'State:' %}
                
            {{field.label}}
            {{field(list=field.name + "-list")}}

                <datalist id="{{field.name}}-list">
                    {% for state in states %}
                        <option value="{{state.name}}">
                    {% endfor %}
                </datalist>
            <p>
                {% for error in field.errors %}
                    {{error}}
                {% endfor %}
            </p>

        {% else %}
            <p>
                {{field.label}}
                {{field}}
            </p>
            <p>
                {% for error in field.errors %}
                    {{error}}
                {% endfor %}
            </p>
        {% endif %}

    {% endfor %}
  


    <!-- <label for="band">Favorite Band: </label>
    <input type="text" id="band"> -->

    <!-- <label for="ice-cream-choice">Choose a flavor:</label>
    <input list="ice-cream-flavors" id="ice-cream-choice" name="ice-cream-choice" /> -->
    


    <div>
        <button>Search</button>
    </div>
    <!-- <label for="username">Username:</label>
    <input name="username" placeholder="Enter username" type="text">
    <label for="password">Password:</label>
    <input name="password" type="password" placeholder="Enter password"> -->
</form>

{% endblock %}
