{% extends 'index.html'%}

{% block content %}





<form action="" method="post">
    
    <p>Sign up a new User</p>

    {{form.hidden_tag()}}

    {% for field in form 
        if field.widget.input_type != 'hidden' %}
                <div class="row mb-3">
                    {{field.label(class_="col-1 col-form-label")}}
                    <div class="col-6">
                        {{field(class_="form-control")}}
                    </div>
                </div>

                {% for error in field.errors %}
                    {{error}}
                {% endfor %}
    {% endfor %}
    <div>
        <button>Create User</button>
    </div>
</form>



{% endblock %}