{% extends 'index.html'%}

{% block content %}

<p class="welcome">Welcome to the College Saving App! <a href="/signup">Sign up</a> or <a href="/login">login</a> login to get started.
</p>

<h6 style="width: 70%; margin: 0 auto; text-align: center; margin-top: 100px;">**Note: App only supports the Chrome web browser on macOS, windows, or android. iPhone and/or other browsers <b><i>NOT</i></b> supported. </h6>


{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul class=flashes>
    {% for category, message in messages %}
      <li class="{{ category }}">{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

{% endblock %}